// Component select field
.select__field {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.select__option__view {
  background: rgba(11, 15, 31, 0.6);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}

// Component item prices
.item__price {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

//Loading
.loading {
  width: 24px;
  height: 24px;
  border: solid 2px white;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
